.alertScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 30px;
    color: white;
    background-color: #fcd006;
    opacity: 0.6;
    display: none;
    z-index: 4;
}

@media screen and (min-width: 550px){
    .alertScreen{
        display: flex;
    }
}